<% provide(:title, "Issue Details : ISE##{@issue.id}") %>

<main class="page-body">
  <%= render 'shared/heading' %>

  <%= render 'shared/details', object: @issue %>

  <% if current_user.admin? && @issue.solved_at.nil? %>
    <div class="button-div">
      <%= link_to "Mark as Solved", solveissue_issue_path(@issue), class: "btn btn-lg btn-primary"  %>
    </div>
  <% end %>
</main>
