<% provide(:title, "Edit Item Details") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <main class="page-body">
      <%= render 'shared/heading' %>
      
      <%= render 'form', submit_text: 'Update Item' %>
    </main>
  </div>
</div>
