<% provide(:title, "Add New Item") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <main class="page-body">
      <%= render 'shared/heading' %>

      <%= render 'form', submit_text: 'Add Item' %>
    </main>
  </div>
</div>
