// Place all the styles related to the AppInterface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
  text-align: center;

  img {
    height: 50%;
    width: 85%;
    margin-bottom: 30px;
  }

  section {
    font-size: 28px;
  }
}
