<% provide(:title, "Brand Details : #{@brand.name}" ) %>

<main class="page-body">
  <%= render 'shared/heading' %>

  <%= render 'shared/details', object: @brand %>

  <% if logged_in? && current_user.admin? %>
    <div class="dropdown option-dropdown">
      <a href="#" class="nav-link dropdown-toggle user-dropdown border d-inline btn" data-toggle="dropdown">
        Options
      </a>

      <ul class="dropdown-menu user-menu">
        <li>
          <%= link_to "Edit Brand", edit_brand_path %>
        </li>

        <li>
          <%= link_to "Delete", @brand, method: :delete, data: { confirm: "You sure?" } %>
        </li>
      </ul>
    </div>
  <% end %>
</main>
